#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

input {
  padding: var(--padding);
  border: 3px solid transparent;
  border-radius: var(--border-radius);
}

.notes-form {
  margin: 10vh 0;
}

.notes-view {
  margin: 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.notes-view > div {
  border: 1px solid;
  border-radius: 20px;
  padding: 1rem;
}

.title-card {
  width: 100%;
  margin: 1rem 0;
  font-size: 4em;
}

.auth-form > p {
  font-size: 32px;
}