@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
  --background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border-radius: 8px;
  --padding: 0.5rem 0.8rem;
}

* {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-size: 1.025em;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: var(--padding);
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 200ms;
  margin: 0.5rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

